@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45596383');
  src: url('../font/fontello.eot?45596383#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45596383') format('woff2'),
       url('../font/fontello.woff?45596383') format('woff'),
       url('../font/fontello.ttf?45596383') format('truetype'),
       url('../font/fontello.svg?45596383#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45596383#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rocket:before { content: '\e800'; } /* '' */
.icon-quote-left:before { content: '\e801'; } /* '' */
.icon-quote-right:before { content: '\e802'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-moon-inv:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-sun-inv:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-headphones:before { content: '\e809'; } /* '' */
.icon-glasses:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-camera-alt:before { content: '\e80f'; } /* '' */
.icon-folder-open:before { content: '\e810'; } /* '' */
.icon-mobile:before { content: '\e811'; } /* '' */
.icon-moon-1:before { content: '\e812'; } /* '' */
.icon-rss-outline:before { content: '\e813'; } /* '' */
.icon-desktop:before { content: '\e814'; } /* '' */
.icon-laptop:before { content: '\e815'; } /* '' */
.icon-tablet:before { content: '\e816'; } /* '' */
.icon-mobile-1:before { content: '\e817'; } /* '' */
.icon-wifi-outline:before { content: '\e818'; } /* '' */
.icon-user:before { content: '\e819'; } /* '' */
.icon-home:before { content: '\e81a'; } /* '' */
.icon-article-alt:before { content: '\e81b'; } /* '' */
.icon-doc:before { content: '\e81c'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-wpexplorer:before { content: '\f2de'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
